*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    width: 100%;
    height: 100vh;
    color: #f5f5f5;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    background-color: #2c3e50;
    padding: 10px 0 20px 0;
}

header img {
    width: 20%;
    border-radius: 50%;
}

.subtitle {
    text-align: center;
    width: 100%;
    background-color: #27ae60;
    padding: 10px;
}

.basic-info {
    /* background-color: #2c3e50;
    padding: 10px;
    border-radius: 5px; */
    color: #2c3e50;
    margin: 20px 0 20px 0;
}

/* Forms */
.info-form {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}

.form-row {
    display: block;
    margin-bottom: 10px;
}

/* Name, Email, and Age input */
input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #28272c;
  border-radius: 3px;
  font-size: 14px;
  width: 80%;
  margin-left: 10px;
}

input[type="email"] {
    margin-left: 13px;
}

input[type="number"] {
    margin-left: 25px;
}

input[type="text"]:invalid
input[type="email"]:invalid
input[type="number"] {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

/* Dropdown */
.dropdown-section {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

button,
li,
a {
    all: unset;
    box-sizing: border-box;
}

#cuisine-dropdown, #payment-dropdown {
    --border-radius: 6px;
    --shadow-color: 60deg 13% 61%;
    max-width: 175px;
    width: 100%;
    background-color: #27ae60;
    border-radius: 10px;
    position: relative;
}

.dropdown-toggle,
.menu-item,
.submenu-item {
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
}

:is(.menu-item, .submenu-item):first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

:is(.menu-item, .submenu-item):last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

:is(.menu-item, .submenu-item):hover {
    background-color: #27ae60;
}

.dropdown-toggle,
.submenu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle > span {
    font-weight:normal;
    color: #f5f5f5;
}

i {
  color: #db8400;
  transition: 0.25s ease;
}

.dropdown-toggle.open > i {
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
}

.menu,
.submenu {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #2c3e50;
  border-radius: var(--border-radius);
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.menu {
  width: 100%;
  transform: translateY(-12px);
}

.menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(12px);
}

.submenu {
  width: max-content;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-12px, 0);
}

.menu-item:hover > .submenu-toggle + .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(8px, 0);
}

/* Radio Btn */
.service-form-row {
    text-align: left
}

.service-form-row legend {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Isntructions area*/
.form-row-instruction {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

textarea {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #2c3e50;
    border-radius: 3px;
    resize: none;
}

/* Buttons */
.btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.btn-group button {
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(44, 62, 80, 0.4);
    padding: 10px 15px 10px 15px;
}

.order {
    margin-right: 10px;
    background-color: #27ae60;
    color: #f5f5f5;
}

.order:hover {
    background-color: #269652;
}

.cancel {
    background-color: #e74c3c;
    color: #f5f5f5;
}

.cancel:hover {
    background-color: #a73023;
}